<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>CPU@Utah - $title$</title>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../js/bibtex_js.js" type="text/javascript" charset="utf-8"></script>
      <!-- <script type="text/javascript" src="http://bibtex-js.googlecode.com/svn/trunk/src/bibtex_js.js"></script>-->
        
        <bibtex src="plist.bib"></bibtex>

        <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
                async defer></script>
        
    </head>
    <body>
      <div class="page-container">
        
      	<!-- top -->
          <div class="top" >
           <div class="container-fluid">
              <a class="navbar-brand" href="/">CPU @ U: Center of Parallelism at Utah</a>
            </div>
          </div>
 
          <!--navbar-->
          <nav class="navbar navbar-inverse offcanvas navbar-offcanvas">
            <div class="container-fluid">
              
              <div class="navbar-header" role="navigation">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse"
                        >
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="/" class=" btn btn-lg">
                  <span class="glyphicon glyphicon-home"></span> Home
                          </a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/members.html">Affiliated Members</a></li>
                  <li><a href="/projects.html">Projects</a></li>
                  <li><a href="/publication.html">Publications</a></li>
                  <li><a href="/education.html">Education</a></li>
                  <li><a href="/Contact.html">Contact</a></li>
                </ul>
              </div>
            </div><!--fluid-->
          </nav><!--navbar-->
          
          <div class="main container">


                <h1>$title$</h1>
                $body$


          </div><!--/.main-->

          

          <footer class="container-fluid footerbar text-center navbar-relative-bottom" >
            <div class="row">
              <div class="col-sm-12">
                Site created by the Gauss Group at the University of Utah
              </div>
            </div>
          </footer>


        
      </div><!--/.page-container-->
      <script src="/js/scripts.js"></script>
    </body>
</html>
